# deps
/node_modules

# Next.js build
/.next/
/out/

# env files (never commit secrets)
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# OS
.DS_Store

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
